# 연습문제

## 1번

In [5]:
import sqlite3
conn = sqlite3.connect('./01.DB/TEST.db')
cur = conn.cursor()

In [4]:
insert_Eagles_sql = 'INSERT INTO Eagles VALUES (?, ?, ?)'
players = ((1,'신정락','투수'),(5,'윤대경','투수'),(11,'임준섭','투수'),(15,'문동욱','투수'),(17,'김범수','투수'),(18,'박주홍','투수'))
cur.executemany(insert_Eagles_sql,players)
conn.commit()

In [4]:
ceate_table_sql = 'create table IF NOT EXISTS       Pitcher_stats(\
back_no int not null,\
ERA float,\
IP float,\
SO float\
)'
cur.execute(ceate_table_sql)
conn.commit()

In [23]:
insert_Pitchers_sql = 'insert into Pitcher_stats \
    values(?,?,?,?)'
players_record = ((1,9,12,14),(5,1.59,51,42),(11,13.5,8.6,6),(15,4.5,18,9),(17,5.24,55,55),(18,8.39,24.6,19))
cur.executemany(insert_sql,players_record)
conn.commit()

In [59]:
select_sql = 'select Eagles.back_no,Eagles.name,\
    Eagles.position,Pi.IP,Pi.ERA,PI.SO from Eagles \
        inner join Pitcher_stats as Pi\
            on Eagles.back_no = PI.back_no'
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(f'등번호:{row[0]} 이름:{row[1]} 포지션:{row[2]} 투구이닝:{row[3]} 평균자책점:{row[4]} 탈삼진:{row[5]} ')

등번호:1 이름:신정락 포지션:투수 투구이닝:12.0 평균자책점:9.0 탈삼진:14.0
등번호:5 이름:윤대경 포지션:투수 투구이닝:51.0 평균자책점:1.59 탈삼진:42.0
등번호:11 이름:임준섭 포지션:투수 투구이닝:8.6 평균자책점:13.5 탈삼진:6.0
등번호:15 이름:문동욱 포지션:투수 투구이닝:18.0 평균자책점:4.5 탈삼진:9.0
등번호:17 이름:김범수 포지션:투수 투구이닝:55.0 평균자책점:5.24 탈삼진:55.0
등번호:18 이름:박주홍 포지션:투수 투구이닝:24.6 평균자책점:8.39 탈삼진:19.0

In [43]:
conn.close()

## 2번

In [2]:
import sqlite3
conn = sqlite3.connect('./01.DB/TEST.db')
cur = conn.cursor()

In [36]:
create_girlgroup_sql = 'create table girlGroup(\
    id INT AUTO_INCREMENT,\
    group_name varchar(10),\
    members int,\
    debut datetime,\
    agency varchar(10),\
    primary key(id))'
cur.execute(create_girlgroup_sql)

In [11]:
insert_girlGroup_sql = 'insert into \
    girlGroup(group_name,members,debut,agency) \
    values(?,?,?,?)'
girlGroups = (('블랙핑크',4,'2016-8-8','YG'),
    ('fromis_9',9,'2017-9-29','off the record'),
    ('마마무',4,'2014-6-19','RBW'),
    ('트와이스',9,'2015-10-20','JYP'),
    ('오마이걸',7 ,'2015-4-21','WM'),
    ('이달의소녀',12,'2018-08-19','BlockBerry Creative'),
    ('여자아이들',6,'2018-5-2','CUBE'))
cur.executemany(insert_girlGroup_sql,girlGroups)
conn.commit()

In [39]:
create_songs_sql = 'create table songs(\
    song_id primary key,\
    song_name varchar(10),\
    group_id int,\
    release_year datetime,\
    composer varchar(10),\
    Introductory_lyrics varchar(100))'
cur.execute(create_songs_sql)
conn.commit()

In [23]:
insert_songs_sql = 'insert into songs(song_name,group_id,release_year,\
composer,Introductory_lyrics) values(?,?,?,?,?)'
songs = (('How You Like That',1,'2020-06-26','TEDDY, R.Tee, 24',"BLACKPINK in your area\
    보란 듯이 무너졌어\
    바닥을 뚫고 저 지하까지\
    옷 끝자락 잡겠다고\
    저 높이 두 손을 뻗어 봐도\
    다시 캄캄한 이곳에 light up the sky\
    네 두 눈을 보며 I'll kiss you goodbye\
    실컷 비웃어라 꼴 좋으니까\
    이제 너희 하나 둘 셋"),\
('Feel Good',2,'2020-9-16','이우민 "collapsedone"Justin Reinstein JJean',"Feel so good\
    Cuz I feel so good\
    Nanananana nanananana\
    Nanananana\
    Hello, come into my place\
    (Yeah yeah yeah yeah)\
    비밀스런 나의 Space\
    (Yeah yeah yeah yeah)\
    여기서 내 시간은 Slo-w\
    다른 시선은 No no\
    내게로 와서 Fallin'\
    지금 기분에 맡겨 Feel it hey hey"),
('딩가딩가',3,'2020-10-20','김도훈, 박우상, 화사','''딩가딩가할래
    친구들 모아
    한잔 할래
    Drink like a like a like a fish
    딩가딩 링가링
    노는 게 좋아 yeah
    딩가딩가 딩가딩가
    Ice cream 먹으러 갈래
    나나나나나
    딩가딩가'''),
("I CAN'T STOP ME",4,'2020-10-26','J.Y. Park "The Asiansoul"\
    심은지','''알람이 울려대 Ring ring a ling
    서로의 눈길이 닿을 때마다
    알면서 빙빙 도는데
    점점 다가가잖아 I know it’s too late
    마음속으로는 다 알고 있잖아
    결국에는 선을 넘게 될 거라는 걸
    I’m warning to myself
    너 그러면 안 돼'''),
('살짝 설렜어',5,'2020-4-27','STEVEN LEE, Andreas Johansson','''
    going nonstop
    말도 안 되잖아 그치 yayayaya
    우린 서로가 모르는 게 없는 사인 걸
    이토록 빤히 nanananana like nanananana
    우리 사이 비밀 따위 있을 리 없는 걸
    다 봤지 우린'''),
('Why Not?',6,'2020-10-19','Will Simms,Sondre Nystrom,Julia Finnseter,\
    Ellen Berg','''I'm a bad girl 다 말하지
대답을 빼앗고 내 입을 닫지
그 아래 깨물린 붉게 물든 lips
굳이 숨기지 않는 반항기
I'm not a bad girl 좀 다르지
딴 애들처럼 아주 반듯이
칼같이 잘린 똑단발머린
난 어울리지 않을 뿐이지'''),
('덤디덤디',7,'2020-8-3','소연, Pop Time','''
뜨거운 태양에 살짝 미친 난 쉽게 두 볼이 빨개지고
그러다 어질어질 달아오른 난 헤엄을 치듯 춤을 추고
음악을 더 크게 더 틀고 싶어 우리 사랑이 안 들리게
안아도 더 가까이 붙고 싶어 닿은 심장이 팡 터지게'''),
('눈누난나',8,'2020-7-30','유건형, 페노메코(PENOMECO), 전병일','''
I’m trying to give u something more
So come with me and fly away
away away away away
그래서 난 눈누난나
눈누누난나'''))
cur.executemany(insert_songs_sql,songs)
conn.commit()

In [60]:
select_girlgroupSongs_sql = 'select gg.group_name,gg.members,gg.debut,s.song_name,s.release_year from girlGroup as gg inner join songs as s on gg.rowid = s.group_id order by debut'
cur.execute(select_girlgroupSongs_sql)
rows = cur.fetchall()
for row in rows:
    print(f'그룹명:{row[0]} 멤버수:{row[1]} 데뷔날짜:{row[2]} 노래이름:{row[3]} 발표날짜:{row[4]}')

그룹명:마마무 멤버수:4 데뷔날짜:2014-6-19 노래이름:딩가딩가 발표날짜:2020-10-20
그룹명:트와이스 멤버수:9 데뷔날짜:2015-10-20 노래이름:I CAN'T STOP ME 발표날짜:2020-10-26
그룹명:오마이걸 멤버수:7 데뷔날짜:2015-4-21 노래이름:살짝 설렜어 발표날짜:2020-4-27
그룹명:블랙핑크 멤버수:4 데뷔날짜:2016-8-8 노래이름:How You Like That 발표날짜:2020-06-26
그룹명:fromis_9 멤버수:9 데뷔날짜:2017-9-29 노래이름:Feel Good 발표날짜:2020-9-16
그룹명:이달의소녀 멤버수:12 데뷔날짜:2018-08-19 노래이름:Why Not? 발표날짜:2020-10-19
그룹명:여자아이들 멤버수:6 데뷔날짜:2018-5-2 노래이름:덤디덤디 발표날짜:2020-8-3

## 3번문제

In [34]:
create_Users_sql = 'create table users(\
    id varchar(10) primary key,\
    password varchar(20))'
cur.execute(create_Users_sql)

In [39]:
insert_user_sql = "insert into users(id,password) values('admin',1234)"
cur.execute(insert_user_sql)
conn.commit()

In [26]:
id = input('아이디를 입력하세요') #admin
pwd = input('비밀번호를 입력하세요') #1234

In [32]:
select_users_sql = 'select id,password from users where id = ?'
cur.execute(select_users_sql,(id,))
row = cur.fetchone()

print('성공' if id == row[0] and pwd == row[1] else '실패')

OperationalError: no such function: if