In [1]:
import requests
from urllib.parse import urlparse, quote
import pandas as pd
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook
import datetime

## 코로나 지역별 데이터 가져오기

In [122]:
# 서비스키 가져오기
key_fd = open('./data/corona_key.txt')
key = key_fd.read(200)
key_fd.close()

In [90]:
# 검색할 날짜 만들기
month_11 = pd.date_range(start='2020-03-02',end='2020-11-30',freq='d')

Empty DataFrame
Columns: [지역]
Index: []

In [7]:
len(month_11)

335

In [20]:
soup = '''<?xml version="1.0" encoding="UTF-8"?>
<response>
   <header>
      <resultCode>00</resultCode>
      <resultMsg>NORMAL SERVICE.</resultMsg>
   </header>
   <body>
      <items>
         <item>
            <createDt>2020-04-10 11:17:34.589</createDt>
            <deathCnt>0</deathCnt>
            <defCnt>352</defCnt>
            <gubun>검역</gubun>
            <gubunCn>隔離區</gubunCn>
            <gubunEn>Lazaretto</gubunEn>
            <incDec>4</incDec>
            <isolClearCnt>3</isolClearCnt>
            <isolIngCnt>349</isolIngCnt>
            <localOccCnt>0</localOccCnt>
            <overFlowCnt>4</overFlowCnt>
            <qurRate>-</qurRate>
            <seq>1014</seq>
            <stdDay>2020년 04월 10일 00시</stdDay>
            <updateDt />
         </item>
         <item>
            <createDt>2020-04-10 11:17:34.589</createDt>
            <deathCnt>0</deathCnt>
            <defCnt>12</defCnt>
            <gubun>제주</gubun>
            <gubunCn>济州</gubunCn>
            <gubunEn>Jeju</gubunEn>
            <incDec>0</incDec>
            <isolClearCnt>4</isolClearCnt>
            <isolIngCnt>8</isolIngCnt>
            <localOccCnt>0</localOccCnt>
            <overFlowCnt>0</overFlowCnt>
            <qurRate>1.79</qurRate>
            <seq>1013</seq>
            <stdDay>2020년 04월 10일 00시</stdDay>
            <updateDt />
         </item>
      </items>
      <numOfRows>10</numOfRows>
      <pageNo>1</pageNo>
      <totalCount>38</totalCount>
   </body>
</response>

'''

In [22]:
# corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
# startDate = month_11[0].strftime('%Y%m%d')
# endDate = month_11[-1].strftime('%Y%m%d')
# url = f'{corona_url}?serviceKey={key}&pageNo=1&numOfRows=10&startCreateDt={startDate}&endCreateDt={endDate}' 
# result = requests.get(urlparse(url).geturl())
# html = result.text
html = soup
soup = BeautifulSoup(html, 'html.parser')
print(soup)

<?xml version="1.0" encoding="UTF-8"?>
<response>
<header>
<resultcode>00</resultcode>
<resultmsg>NORMAL SERVICE.</resultmsg>
</header>
<body>
<items>
<item>
<createdt>2020-04-10 11:17:34.589</createdt>
<deathcnt>0</deathcnt>
<defcnt>352</defcnt>
<gubun>검역</gubun>
<gubuncn>隔離區</gubuncn>
<gubunen>Lazaretto</gubunen>
<incdec>4</incdec>
<isolclearcnt>3</isolclearcnt>
<isolingcnt>349</isolingcnt>
<localocccnt>0</localocccnt>
<overflowcnt>4</overflowcnt>
<qurrate>-</qurrate>
<seq>1014</seq>
<stdday>2020년 04월 10일 00시</stdday>
<updatedt></updatedt>
</item>
<item>
<createdt>2020-04-10 11:17:34.589</createdt>
<deathcnt>0</deathcnt>
<defcnt>12</defcnt>
<gubun>제주</gubun>
<gubuncn>济州</gubuncn>
<gubunen>Jeju</gubunen>
<incdec>0</incdec>
<isolclearcnt>4</isolclearcnt>
<isolingcnt>8</isolingcnt>
<localocccnt>0</localocccnt>
<overflowcnt>0</overflowcnt>
<qurrate>1.79</qurrate>
<seq>1013</seq>
<stdday>2020년 04월 10일 00시</stdday>
<updatedt></updatedt>
</item>
</items>
<numofrows>10</numofrows>
<pageno>1</pageno>
<totalcount>38</totalcount>
</body>
</response>

In [47]:
item

[<item>
 <createdt>2020-04-10 11:17:34.589</createdt>
 <deathcnt>0</deathcnt>
 <defcnt>352</defcnt>
 <gubun>검역</gubun>
 <gubuncn>隔離區</gubuncn>
 <gubunen>Lazaretto</gubunen>
 <incdec>4</incdec>
 <isolclearcnt>3</isolclearcnt>
 <isolingcnt>349</isolingcnt>
 <localocccnt>0</localocccnt>
 <overflowcnt>4</overflowcnt>
 <qurrate>-</qurrate>
 <seq>1014</seq>
 <stdday>2020년 04월 10일 00시</stdday>
 <updatedt></updatedt>
 </item>,
 <item>
 <createdt>2020-04-10 11:17:34.589</createdt>
 <deathcnt>0</deathcnt>
 <defcnt>12</defcnt>
 <gubun>제주</gubun>
 <gubuncn>济州</gubuncn>
 <gubunen>Jeju</gubunen>
 <incdec>0</incdec>
 <isolclearcnt>4</isolclearcnt>
 <isolingcnt>8</isolingcnt>
 <localocccnt>0</localocccnt>
 <overflowcnt>0</overflowcnt>
 <qurrate>1.79</qurrate>
 <seq>1013</seq>
 <stdday>2020년 04월 10일 00시</stdday>
 <updatedt></updatedt>
 </item>]

In [66]:
item[1].select('gubunEn')[0].get_text()

'Jeju'

# 한방에 읽기

In [ ]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
startDate = month_11[0].strftime('%Y%m%d')
endDate = month_11[-1].strftime('%Y%m%d')
url = f'{corona_url}?serviceKey={key}&pageNo=1&numOfRows=10&startCreateDt={startDate}&endCreateDt={endDate}' 
result = requests.get(urlparse(url).geturl())
html = result.text
soup = BeautifulSoup(html, 'html.parser')

In [124]:
# 빈 데이터프레임 생성
corona_area = pd.DataFrame(columns = ['지역'])
gubun = []
createDt = []
defCnt = []
deathCnt = []
clearCnt = []
gubunEn = []
qurRate = []
isolIngCnt = []
localOccCnt = []

item = soup.find_all('item')
for i in range(len(item)):
    if item[i].select('gubun')[0].string in ['검역','합계']:
        print(item[i].select('gubun')[0].string)
        continue
    gubun.append(item[i].select('gubun')[0].get_text())
    gubunEn.append(item[i].select('gubunEn')[0].get_text())
    createDt.append(item[i].select('createDt')[0].get_text())
    defCnt.append(item[i].select('defCnt')[0].get_text() if soup.select('defCnt') else '')
    deathCnt.append(item[i].select('deathCnt')[0].get_text())
    clearCnt.append(item[i].select('isolClearCnt')[0].get_text() if soup.select('isolClearCnt') else '')
    qurRate.append(item[i].select('qurRate')[0].get_text() if soup.select('qurRate') else '')
    isolIngCnt.append(item[i].select('isolIngCnt')[0].get_text() if soup.select('isolIngCnt') else '')
    localOccCnt.append(item[i].select('localOccCnt')[0].get_text() if soup.select('localOccCnt') else '')

corona_area['등록시간']=[i for i in createDt]
corona_area['지역'] = gubun
corona_area['확진자 수'] = defCnt
corona_area['격리해제 수'] = clearCnt
corona_area['사망자 수'] = deathCnt
corona_area['지역 코드'] = gubunEn
corona_area['10만명당 발생률'] = qurRate
corona_area['격리중 환자수'] = isolIngCnt
corona_area['지역발생 수'] = localOccCnt
corona_area.info()

검역
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         1 non-null      object
 1   등록시간       1 non-null      object
 2   확진자 수      1 non-null      object
 3   격리해제 수     1 non-null      object
 4   사망자 수      1 non-null      object
 5   지역 코드      1 non-null      object
 6   10만명당 발생률  1 non-null      object
 7   격리중 환자수    1 non-null      object
 8   지역발생 수     1 non-null      object
dtypes: object(9)
memory usage: 200.0+ bytes

# 페이지 나눠서 읽기

In [ ]:
# 빈 데이터프레임 생성
corona_area = pd.DataFrame(columns = ['지역'])
gubun = []
createDt = []
defCnt = []
deathCnt = []
clearCnt = []
gubunEn = []
qurRate = []
isolIngCnt = []
localOccCnt = []

In [ ]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
startDate = month_11[0].strftime('%Y%m%d')
endDate = month_11[-1].strftime('%Y%m%d')
url = f'{corona_url}?serviceKey={key}&pageNo=1&numOfRows=10&startCreateDt={startDate}&endCreateDt={endDate}' 
result = requests.get(urlparse(url).geturl())
html = result.text
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
total_count = int(soup.select_one('totalCount').get_text())
pageNo = int(soup.select_one('pageNo').get_text())
total_page = round(total_count / 10)

In [109]:
for n in range(1,total_page+1):
    url = f'{corona_url}?serviceKey={key}&pageNo={n}&numOfRows=10&startCreateDt={startDate}&endCreateDt={endDate}' 
    result = requests.get(urlparse(url).geturl())
    html = result.text
    soup = BeautifulSoup(html, 'html.parser')
    item = soup.find_all('item')
    for i in range(len(item)):
        if item[i].select('gubun')[0].string in ['검역','합계']:
            print(item[i].select('gubun')[0].string)
            continue
        gubun.append(item[i].select('gubun')[0].get_text())
        gubunEn.append(item[i].select('gubunEn')[0].get_text())
        createDt.append(item[i].select('createDt')[0].get_text())
        defCnt.append(item[i].select('defCnt')[0].get_text() if soup.select('defCnt') else '')
        deathCnt.append(item[i].select('deathCnt')[0].get_text())
        clearCnt.append(item[i].select('isolClearCnt')[0].get_text() if soup.select('isolClearCnt') else '')
        qurRate.append(item[i].select('qurRate')[0].get_text() if soup.select('qurRate') else '')
        isolIngCnt.append(item[i].select('isolIngCnt')[0].get_text() if soup.select('isolIngCnt') else '')
        localOccCnt.append(item[i].select('localOccCnt')[0].get_text() if soup.select('localOccCnt') else '')

1
2
3
4

In [ ]:
corona_area['등록시간']=[i for i in createDt]
corona_area['지역'] = gubun
corona_area['확진자 수'] = defCnt
corona_area['격리해제 수'] = clearCnt
corona_area['사망자 수'] = deathCnt
corona_area['지역 코드'] = gubunEn
corona_area['10만명당 발생률'] = qurRate
corona_area['격리중 환자수'] = isolIngCnt
corona_area['지역발생 수'] = localOccCnt
corona_area

In [72]:
corona_area.head()

   지역                     등록시간 확진자 수 격리해제 수 사망자 수 지역 코드
0  제주  2020-04-10 11:17:34.589    12      4     0  Jeju

## 데이터 정리

In [125]:
# 숫자형으로 바꿈
corona_area[['확진자 수','격리해제 수','사망자 수','10만명당 발생률','격리중 환자수','지역발생 수']] = corona_area[['확진자 수','격리해제 수','사망자 수','10만명당 발생률','격리중 환자수','지역발생 수']].apply(pd.to_numeric)
# 등록시간에서 날짜만 남김
corona_area['등록시간'] = pd.to_datetime(corona_area['등록시간']).dt.date
corona_area['등록시간'] = pd.to_datetime(corona_area['등록시간'])
corona_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         1 non-null      object
 1   등록시간       1 non-null      datetime64[ns]
 2   확진자 수      1 non-null      int64
 3   격리해제 수     1 non-null      int64
 4   사망자 수      1 non-null      int64
 5   지역 코드      1 non-null      object
 6   10만명당 발생률  1 non-null      float64
 7   격리중 환자수    1 non-null      int64
 8   지역발생 수     1 non-null      int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 200.0+ bytes

In [126]:
# 피봇으로 정리
corona_area_week = pd.pivot_table(data=corona_area,columns='지역',index='등록시간')
corona_area_week

           10만명당 발생률 격리중 환자수 격리해제 수 사망자 수 지역발생 수 확진자 수
지역                제주      제주     제주    제주     제주    제주
등록시간
2020-04-10      1.79       8      4     0      0    12

In [121]:
corona_area_week.resample('m').sum()

           10만명당 발생률 격리중 환자수 격리해제 수 사망자 수 지역발생 수 확진자 수
지역                제주      제주     제주    제주     제주    제주
등록시간
2020-04-30      1.79       8      4     0      0    12

In [414]:
corona_area_week.T.reset_index().set_index('등록시간').resample('w').sum()

Empty DataFrame
Columns: [level_0]
Index: []

In [415]:
# monthly_corona = corona_area.set_index('등록시간')
# monthly_corona = monthly_corona.resample('MS')
# monthly_corona['등록시간'] = corona_area['등록시간'].strftime('%m월')
monthly_corona

     지역                    등록시간 확진자 수 격리해제 수 사망자 수
0    제주 2020-11-01 09:42:56.006    59     59     0
1    경남 2020-11-01 09:42:56.006   318    299     0
2    경북 2020-11-01 09:42:56.006  1587   1516    57
3    전남 2020-11-01 09:42:56.006   188    174     2
4    전북 2020-11-01 09:42:56.006   166    149     0
..   ..                     ...   ...    ...   ...
522  광주 2020-11-29 09:42:34.125   683    564     3
523  인천 2020-11-29 09:42:34.124  1376   1068    11
524  대구 2020-11-29 09:42:34.124  7228   6998   199
525  부산 2020-11-29 09:42:34.124   757    596    15
526  서울 2020-11-29 09:42:34.124  8644   6529    92

[527 rows x 5 columns]

In [152]:
soup.select('deathcnt')[0].string

'526'

In [115]:
pd.date_range(start='2020-11-01',end='2020-11-30',freq='d')

Timestamp('2020-11-01 00:00:00', freq='D')

### 코로나현황

In [161]:
month_11 = pd.date_range(start='2020-11-01',end='2020-11-30',freq='d')
corona = pd.DataFrame(
    columns = ['등록시간','게시글번호','확진자 수','격리해제 수','검사진행 수','사망자 수','치료중 환자 수']
    # index = month_11
)
corona.head()

Empty DataFrame
Columns: [등록시간, 게시글번호, 확진자 수, 격리해제 수, 검사진행 수, 사망자 수, 치료중 환자 수]
Index: []

In [164]:
createDt = []
seq = []
decideCnt = []
clearCnt = []
accExamCnt = []
deathCnt = []
careCnt = []
for i in range(len(month_11)):
    corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'
    startDate = month_11[i].strftime('%Y%m%d')
    endDate = month_11[i].strftime('%Y%m%d')
    url = f'{corona_url}?serviceKey={key}&pageNo=1&numOfRows=10&startCreateDt={startDate}&endCreateDt={endDate}' 
    result = requests.get(urlparse(url).geturl())
    html = result.text
    soup = BeautifulSoup(html, 'html.parser')
    createDt.append(soup.select('createDt')[0].string)
    seq.append(soup.select('seq')[0].string)
    decideCnt.append(soup.select('decideCnt')[0].string)
    clearCnt.append(soup.select('clearCnt')[0].string)
    accExamCnt.append(soup.select('accExamCnt')[0].string)
    deathCnt.append(soup.select('deathCnt')[0].string)
    careCnt.append(soup.select('careCnt')[0].string)
corona['등록시간']=[str(i) for i in createDt]
corona['게시글번호']=seq
corona['확진자 수']=decideCnt
corona['격리해제 수']=clearCnt
corona['검사진행 수']=accExamCnt
corona['사망자 수']=deathCnt
corona['치료중 환자 수']=careCnt
corona

                       등록시간 게시글번호  확진자 수 격리해제 수   검사진행 수 사망자 수 치료중 환자 수
0   2020-11-01 09:41:40.025   309  26635  24357  2630630   466     1812
1   2020-11-02 09:35:09.923   310  26732  24395  2636650   468     1869
2   2020-11-03 09:30:37.135   311  26807  24510  2649859   472     1825
3    2020-11-04 09:37:25.13   312  26925  24616  2662260   474     1835
4   2020-11-05 09:51:34.898   313  27050  24735  2673706   475     1840
5   2020-11-06 09:24:23.717   314  27195  24821  2686314   476     1898
6   2020-11-07 09:40:32.259   315  27284  24910  2697249   477     1897
7   2020-11-08 09:34:44.609   316  27427  24968  2702880   478     1981
8   2020-11-09 09:36:39.787   317  27553  25029  2709199   480     2044
9   2020-11-10 09:37:02.955   318  27653  25160  2723960   485     2008
10  2020-11-11 09:35:35.369   319  27799  25266  2736534   487     2046
11  2020-11-12 09:39:23.831   320  27942  25404  2749772   487     2051
12  2020-11-13 09:35:49.753   321  28133  25537  2761411   488     2108
13  2020-11-14 09:31:38.207   322  28338  25636  2777289   492     2210
14  2020-11-15 09:40:16.172   323  28546  25691  2786878   493     2362
15  2020-11-16 09:34:22.212   324  28769  25759  2797691   494     2516
16  2020-11-17 09:38:28.585   325  28998  25860  2815755   494     2644
17  2020-11-18 09:34:00.934   326  29311  25973  2834362   496     2842
18  2020-11-19 09:32:40.671   327  29654  26098  2853843   498     3058
19  2020-11-20 09:35:51.078   328  30017  26263  2873443   501     3253
20  2020-11-21 09:35:35.158   329  30403  26365  2896746   503     3535
21  2020-11-22 09:35:12.388   330  30733  26466  2908890   505     3762
22  2020-11-23 09:33:24.973   331  31004  26539  2922135   509     3956
23  2020-11-24 09:33:23.193   332  31353  26722  2946399   510     4121
24  2020-11-25 09:32:47.722   333  31735  26825  2966405   513     4397
25  2020-11-26 09:44:15.678   334  32318  26950  2988046   515     4853
26  2020-11-27 09:39:01.652   335  32887  27103  3009577   516     5268
27  2020-11-28 09:31:45.871   336  33375  27349  3032004   522     5504
28  2020-11-29 09:33:56.021   337  33824  27542  3046971   523     5759
29  2020-11-30 14:29:16.143   338  34201  27625  3061172   526     6050