# 데이터프레임 고급인덱싱

In [4]:
import numpy as np
import pandas as pd

### loc인덱서

In [5]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),index=["a","b","c"], columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [8]:
df.T["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [9]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [10]:
df.loc[["b","c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [11]:
df.A

a    10
b    14
c    18
Name: A, dtype: int32

In [12]:
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [13]:
#열을 사용하겠다 df[] 행을 사용하겠다 df.loc[] 
# df.loc는 유사 df.T작동

In [14]:
df2 = pd.DataFrame(np.arange(10,26).reshape(4,4),columns=["A","B","C","D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [15]:
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [16]:
df.loc["a","A"]

10

In [17]:
df.loc["b":,"A"]

b    14
c    18
Name: A, dtype: int32

In [18]:
df.loc[["a","b"],["B","D"]]

    B   D
a  11  13
b  15  17

### iloc 인덱서

#### iloc는 순서를 나타내는 정수인덱스만 받는다

In [21]:
df.iloc[0,1]

11

In [22]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32