# 데이터 프레임 인덱스 조작

In [2]:
import pandas as pd
import numpy as np

### 인덱스 설정 및 제거

In [4]:
np.random.seed(2020)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),np.round(np.random.rand(3,5),2)]).T,
                    columns=["C1","C2","C3","C4"])
df1

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

In [5]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.99  0.22  0.14
B   0.87  0.28  0.76
C   0.51  0.34  0.74
D   0.27  0.86  0.36
E   0.34  0.16  0.34

In [6]:
df3 = df2.reset_index(drop=True)
df3

     C2    C3    C4
0  0.99  0.22  0.14
1  0.87  0.28  0.76
2  0.51  0.34  0.74
3  0.27  0.86  0.36
4  0.34  0.16  0.34

In [19]:
df_score1 = pd.DataFrame(np.vstack([list("철수","민수","나희","귤","수박"),np.round(np.random.rand(3,5),2)]).T*100
df_score1

SyntaxError: invalid syntax (<ipython-input-19-e7726dbe3179>, line 2)

In [14]:
df_score2 = df_score1.set_index(d)
df_score2

KeyError: "None of ['철수', '민수', '나희', '귤', '수박'] are in the columns"

In [20]:
np.random.seed(2020)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1  -1.77  0.08 -1.13 -0.65
      id_2  -0.89 -1.27 -0.06  0.06
      id_3   0.41 -0.57 -0.80  1.31
F     id_1   1.27 -1.21  0.31 -1.44
      id_2  -0.37 -0.77  0.39  0.06
      id_3   2.09  0.04 -0.05 -0.51

In [29]:
df4[('A','C'),('B','C')]

KeyError: (('A', 'C'), ('B', 'C'))

In [25]:
df2.stack()

C1
A   C2    0.99
    C3    0.22
    C4    0.14
B   C2    0.87
    C3    0.28
    C4    0.76
C   C2    0.51
    C3    0.34
    C4    0.74
D   C2    0.27
    C3    0.86
    C4    0.36
E   C2    0.34
    C3    0.16
    C4    0.34
dtype: object

In [30]:
df2.unstack()

    C1
C2  A     0.99
    B     0.87
    C     0.51
    D     0.27
    E     0.34
C3  A     0.22
    B     0.28
    C     0.34
    D     0.86
    E     0.16
C4  A     0.14
    B     0.76
    C     0.74
    D     0.36
    E     0.34
dtype: object