# 카카오 MAP key
### 도로명주소로부터 위도,경도 정보 구하기

In [4]:
import requests
from urllib.parse import urlparse
import pandas as pd

In [7]:
key_fd = open('kakaomapkey.txt')
kmap_key = key_fd.read(100)
key_fd.close()

In [25]:
addr = '서울특별시 강서구 화곡로 302 (화곡동)'
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
result = requests.get(urlparse(url).geturl(),
        headers={"Authorization":"KakaoAK "+kmap_key}).json()
address = result['documents'][0]['address']
lng = address['x'] 
lat = address['y']
print(f"위도는 {lng}") 
print(f"경도는 {lat}")

위도는 126.849532173376
경도는 37.5509655144007

In [24]:
address

{'address_name': '서울 강서구 화곡동 980-16',
 'b_code': '1150010300',
 'h_code': '1150059100',
 'main_address_no': '980',
 'mountain_yn': 'N',
 'region_1depth_name': '서울',
 'region_2depth_name': '강서구',
 'region_3depth_h_name': '화곡6동',
 'region_3depth_name': '화곡동',
 'sub_address_no': '16',
 'x': '126.849532173376',
 'y': '37.5509655144007'}

### address.csv 파일 읽어서 위도, 경도 정보 추가하기

In [30]:
df = pd.read_csv("address.csv")
df

      지역        건물이름                      도로명 주소   우편번호
0   강서구청        강서구청     서울특별시 강서구 화곡로 302 (화곡동)   7658
1   양천구청        양천구청    서울특별시 양천구 목동동로 105 (신정동)   8095
2   부천시청  부천시청/부천시의회      경기도 부천시 길주로 210-2 (중동)  14547
3  영등포구청       영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)   7260
4   김포시청        김포시청        경기도 김포시 사우중로 1 (사우동)  10109

In [31]:
lat_list=[]
lng_list=[]
for i in df.index:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + df['도로명 주소'][i]
    result = requests.get(urlparse(url).geturl(),
        headers={"Authorization":"KakaoAK "+kmap_key}).json()
    address = result['documents'][0]['address']
    lng = address['x'] 
    lat = address['y']
    lng_list.append(lng)
    lat_list.append(lat)

In [32]:
df['lng'] = lng_list
df['lat'] = lat_list
df

,지역,건물이름,도로명 주소,우편번호,lng,lat
0,강서구청,강서구청,서울특별시 강서구 화곡로 302 (화곡동),7658,126.849532173376,37.5509655144007
1,양천구청,양천구청,서울특별시 양천구 목동동로 105 (신정동),8095,126.866542541936,37.5170753784215
2,부천시청,부천시청/부천시의회,경기도 부천시 길주로 210-2 (중동),14547,126.765003997801,37.5022773330823
3,영등포구청,영등포구청,서울특별시 영등포구 당산로 123 (당산동3가),7260,126.896367130558,37.525963157053
4,김포시청,김포시청,경기도 김포시 사우중로 1 (사우동),10109,126.715717006327,37.6151899959384

In [33]:
df.to_csv("address2.csv", sep=',' ,encoding='UTF-8', index=False)

In [34]:
df2 = pd.read_csv("address2.csv")
df2

      지역        건물이름                      도로명 주소   우편번호         lng        lat
0   강서구청        강서구청     서울특별시 강서구 화곡로 302 (화곡동)   7658  126.849532  37.550966
1   양천구청        양천구청    서울특별시 양천구 목동동로 105 (신정동)   8095  126.866543  37.517075
2   부천시청  부천시청/부천시의회      경기도 부천시 길주로 210-2 (중동)  14547  126.765004  37.502277
3  영등포구청       영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)   7260  126.896367  37.525963
4   김포시청        김포시청        경기도 김포시 사우중로 1 (사우동)  10109  126.715717  37.615190