# OpenWeather API
### 위도, 경도로 부터 현재 날씨 구하기

In [57]:
import requests
from urllib.parse import urlparse
import pandas as pd

In [58]:
key_fd = open('openweatherkey.txt',mode='r')
openweather_key = key_fd.read(200)
key_fd.close()

In [72]:
lng = 126.849532173376
lat = 37.5509655144007
url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lng}&units=metric&appid={openweather_key}'

In [73]:
results = requests.get(urlparse(url).geturl()).json()
results

{'coord': {'lon': 126.85, 'lat': 37.55},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 3.06,
  'feels_like': -1.73,
  'temp_min': 2,
  'temp_max': 4,
  'pressure': 1019,
  'humidity': 69},
 'visibility': 10000,
 'wind': {'speed': 3.6, 'deg': 350},
 'clouds': {'all': 75},
 'dt': 1605841936,
 'sys': {'type': 1,
  'id': 8105,
  'country': 'KR',
  'sunrise': 1605824263,
  'sunset': 1605860344},
 'timezone': 32400,
 'id': 1838716,
 'name': 'Bucheon-si',
 'cod': 200}

In [74]:
weather = results['weather'][0]
main = results['main']

weather,main

({'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'},
 {'temp': 3.06,
  'feels_like': -1.73,
  'temp_min': 2,
  'temp_max': 4,
  'pressure': 1019,
  'humidity': 69})

In [75]:
print(weather['main'],weather['description'])

Clouds broken clouds

In [79]:
tmp = main['temp']
tmp_min = main['temp_min']
tmp_max = main['temp_max']

In [80]:
tmp = round(float(tmp),1)
tmp

3.1

In [83]:
df = pd.read_csv("address2.csv")
df

      지역        건물이름                      도로명 주소   우편번호         lng        lat
0   강서구청        강서구청     서울특별시 강서구 화곡로 302 (화곡동)   7658  126.849532  37.550966
1   양천구청        양천구청    서울특별시 양천구 목동동로 105 (신정동)   8095  126.866543  37.517075
2   부천시청  부천시청/부천시의회      경기도 부천시 길주로 210-2 (중동)  14547  126.765004  37.502277
3  영등포구청       영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)   7260  126.896367  37.525963
4   김포시청        김포시청        경기도 김포시 사우중로 1 (사우동)  10109  126.715717  37.615190

In [85]:
weather_list = []; desc_list = []; temp_list = []
for i in df.index:
    url = f'https://api.openweathermap.org/data/2.5/weather?lat={df.lat[i]}&lon={df.lng[i]}&units=metric&appid={openweather_key}'
    results = requests.get(urlparse(url).geturl()).json()
    weather = results['weather'][0]
    main = results['main']
    tmp = main['temp']
    tmp = round(float(tmp),1)
    tmp_min = main['temp_min']
    tmp_max = main['temp_max']
    weather_list.append(weather['main'])
    desc_list.append(weather['description'])
    temp_list.append(f'{tmp}/{tmp_min}/{tmp_max}')

In [87]:
df['weather'] = weather_list
df['desc'] = desc_list
df['temp'] = temp_list
df

,지역,건물이름,도로명 주소,우편번호,lng,lat,weather,desc,temp
0,강서구청,강서구청,서울특별시 강서구 화곡로 302 (화곡동),7658,126.849532,37.550966,Clouds,broken clouds,3.1/2/4
1,양천구청,양천구청,서울특별시 양천구 목동동로 105 (신정동),8095,126.866543,37.517075,Clouds,broken clouds,3.9/3/5
2,부천시청,부천시청/부천시의회,경기도 부천시 길주로 210-2 (중동),14547,126.765004,37.502277,Clouds,broken clouds,3.0/2/4
3,영등포구청,영등포구청,서울특별시 영등포구 당산로 123 (당산동3가),7260,126.896367,37.525963,Clouds,overcast clouds,3.9/3/5
4,김포시청,김포시청,경기도 김포시 사우중로 1 (사우동),10109,126.715717,37.615190,Clouds,broken clouds,3.0/2/4

In [88]:
df.to_csv("address3.csv",sep=',',index=False)